.login-page {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.login-page__background{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../assets/BackGroundBlur.svg');
  background-size: 100% 100%;
}

.login-page h1 {
  margin: 7.5rem 0 4rem 0;
  position: relative;
  color: white;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 2rem;
}

.login-page__form {
  position: relative;
}

.login-page__form p {
  height: 1rem;
  margin: 0 0 .25rem 0;
  color: white; 
  text-align: center;
}

.login-page__sign-in-button {
  width: 32rem;
  height: 3.25rem;
  border: 1px solid white;
  border-radius: .5rem;
  margin-top: 2rem;
  color: white;
  font-size: 1rem;
  font-family: chivo, sans-serif;
  font-weight: 600;
  background-color: black;
  cursor: pointer;
}

.login-page__form h2 {
  margin-top: 2rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 200;
  text-align: center;
}

.login-page__form a {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}