.main-navigation__logo {
  height: 50px;
  width: 50px;
}

.main-navigation__drawer-nav {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.main-navigation__logout-button {
  padding: 5px 10px;
  border: none; 
  border-radius: 4px;
  align-items: center;
  color: black;
  font-size: 1.625rem;
  font-weight: 100;
  font-family: chivo, sans-serif;
  background-color: transparent;
}

.main-navigation__logout-button:hover {
  background-color: rgba(0, 0, 0 ,.05);
}